body{
    background-color:blanchedalmond;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 200%;
    background-color: brown;
    color:blanchedalmond;
}

.fotos{
    padding-left: 15%;
}

img{
    margin: 0 auto;
    height: 40%;
    width:40%
}